rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.role == 'admin';
    }

    match /missions/{userId}/{assignmentId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }
  }
}
